:root {
    --cinza-claro: #F4F4F4;
    --laranja: #DE8734;
    --preto-medio: #141414;
    --cinza: #4D4D4D;
    --cinza-medio: #B9B9B9;
    --vermelho: #E3593B;
    --verde: #3BE392;
    --bg-color: #1f1f1f;
}