h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SpaceGrotesk-bold';
}

p,
a,
ul,
li,
span {
    font-family: 'SpaceGrotesk-Regular';
}

.navbar-brand,
.navbar-subtitle {
    font-family: 'SpaceGrotesk-Regular';
}