@import "root", "fonts", "text", "structure", "navbar", "grafics";

* {
    box-sizing: border-box;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    // background-color: var(--bg-color);
}