@charset "UTF-8";
:root {
  --cinza-claro: #F4F4F4;
  --laranja: #DE8734;
  --preto-medio: #141414;
  --cinza: #4D4D4D;
  --cinza-medio: #B9B9B9;
  --vermelho: #E3593B;
  --verde: #3BE392;
  --bg-color: #1f1f1f;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("../fonts/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url("../fonts/SpaceGrotesk-Light.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("../fonts/SpaceGrotesk-Medium.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url("../fonts/SpaceGrotesk-SemiBold.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SpaceGrotesk-bold";
}

p,
a,
ul,
li,
span,
text {
  font-family: "SpaceGrotesk-Regular" !important;
}

.navbar-brand,
.navbar-subtitle {
  font-family: "SpaceGrotesk-Regular";
}

@media screen and (max-width: 500px) {
  text {
    font-size: 12px;
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  padding-bottom: 20px;
  background: var(--preto-medio);
  color: var(--cinza-claro);
  transition: all 0.3s;
}
@media screen and (max-width: 1366px) {
  #sidebar {
    min-width: 0;
    max-width: 0;
  }
  #sidebar.active {
    padding-top: 1rem;
    min-width: 329px;
    max-width: 329px;
    text-align: left;
    z-index: 9999;
  }
  #sidebar.active .sidebar-header {
    width: 100%;
  }
  #sidebar.active li.titles {
    display: block;
  }
  #sidebar.active li a {
    padding: 10px;
  }
  #sidebar.active ul.profile {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (min-width: 1367px) {
  #sidebar {
    padding-top: 56px;
    min-width: 329px;
    max-width: 329px;
  }
}
#sidebar .sidebar-header {
  padding-bottom: 1rem;
  display: inline-flex;
}
#sidebar ul.components {
  padding: 20px 0;
}
#sidebar ul.components a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: var(--cinza-claro);
  transition: all 0.3s ease;
}
#sidebar ul.components a.active {
  color: var(--laranja);
  border: solid 1px;
  border-radius: 12px;
}
#sidebar ul.components a:hover {
  text-decoration: none;
  color: var(--laranja);
}
#sidebar ul.components .titles {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: var(--cinza-claro);
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  #sidebar ul.components svg {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 1366px) {
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
  }
  #sidebar.active .sidebar-header {
    padding-bottom: 1rem;
    display: block;
    margin: auto;
  }
  #sidebar.active .sidebar-header strong {
    display: block;
    text-align: center;
  }
  #sidebar.active .sidebar-header strong div {
    margin: auto;
  }
  #sidebar.active ul.components li a span {
    display: none;
  }
  #sidebar.active li.titles {
    display: none;
  }
  #sidebar.active li {
    text-align: center;
  }
  #sidebar.active li a {
    padding: 10px 0;
  }
  #sidebar.active li a.active {
    border: none;
  }
}
@media screen and (min-width: 1366px) and (min-width: 1025px) {
  #sidebar.active svg {
    margin-right: 0rem !important;
  }
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: var(--bg-color);
}
@media screen and (max-width: 1023px) {
  #content {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1024px) {
  #content {
    padding: 20px;
  }
}

#sidebarCollapse {
  background: transparent;
  color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

#content .col-lg-6,
#content .col-lg-4,
#content .col-lg-8.top-afiliados {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.custom-card {
  background-color: var(--preto-medio);
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 20px;
}
@media screen and (min-width: 1025px) {
  .custom-card.grafico {
    min-height: 100%;
  }
}
@media screen and (min-width: 1366px) {
  .custom-card:not(grafico) {
    min-height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .custom-card .card-body {
    padding: 0;
  }
}
.custom-card .card-title {
  color: var(--cinza-medio);
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: SpaceGrotesk-Light;
}
.custom-card .card-title img {
  margin-right: 0.2rem;
}
@media screen and (max-width: 768px) {
  .custom-card .card-title {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) {
  .custom-card .card-title {
    font-size: 14px;
    line-height: 17.86px;
    letter-spacing: 4px;
  }
}
.custom-card .card-value {
  font-weight: bold;
  margin-bottom: 5px;
}
.custom-card .card-value.orange {
  color: var(--laranja);
}
@media screen and (max-width: 768px) {
  .custom-card .card-value {
    font-size: 18px;
  }
}
@media screen and (min-width: 769px) {
  .custom-card .card-value {
    font-size: 1.8rem;
  }
}
.custom-card .card-subtext {
  font-size: 0.7rem;
  color: var(--cinza-medio) !important;
  margin-bottom: 15px;
}
.custom-card .card-subtext span.green,
.custom-card .card-subtext .green {
  color: var(--verde) !important;
}
.custom-card .card-subtext .red {
  color: var(--vermelho) !important;
}
.custom-card .card-subtext span.color-darkGray,
.custom-card .card-subtext .color-darkGray {
  color: var(--cinza) !important;
}
.custom-card .card-subtext img {
  margin-right: 0.5rem;
}
.custom-card .card-link {
  font-size: 0.9rem;
  color: var(--cinza-claro);
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .custom-card .card-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) {
  .custom-card .card-link {
    font-size: 14px;
  }
}
.custom-card .card-link:hover {
  text-decoration: var(--laranja);
}
.custom-card .dropdown-divider {
  margin: 1rem 0;
  border-top: 1px solid #1F1F1F;
}

@media screen and (max-width: 1024px) {
  .overflow-table {
    overflow-x: scroll;
  }
}
.overflow-table .table {
  min-width: 61rem;
}
.overflow-table .table tr th {
  color: var(--laranja);
  font-weight: 300;
  font-family: "SpaceGrotesk-Regular";
}
.overflow-table .table tr td {
  color: var(--cinza-medio);
  font-weight: 300;
  font-family: "SpaceGrotesk-Regular";
}
.overflow-table .table tr th,
.overflow-table .table tr td {
  border: none;
}
@media screen and (max-width: 500px) {
  .overflow-table .table tr th,
  .overflow-table .table tr td {
    font-size: 10px;
  }
}
@media screen and (min-width: 501px) {
  .overflow-table .table tr th,
  .overflow-table .table tr td {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .custom-card {
    margin-bottom: 2px;
  }
  .cards-painel {
    margin-top: 5rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1365px) {
  .custom-card {
    margin-bottom: 20px;
  }
  .cards-painel {
    margin-top: 5rem !important;
  }
}
@media screen and (min-width: 1366px) {
  .cards-painel {
    margin-top: 5rem !important;
  }
  .cards-painel {
    margin-top: 36px !important;
  }
}
span.name {
  color: var(--cinza-claro);
  font-size: 16px;
  font-weight: 400;
}
span.subtitle {
  color: var(--cinza-medio);
  font-size: 10px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .block-grafico,
  .top-afiliados,
  .links {
    padding-left: 0;
    padding-right: 0;
  }
  .col-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (min-width: 1366px) {
  #chart {
    height: 14rem !important;
  }
}
ul.nav.nav-pills {
  margin-bottom: 36px;
}
ul.nav.nav-pills .nav-item a.nav-link {
  color: var(--cinza-claro);
  font-size: 12px;
}
@media screen and (min-width: 1366px) {
  ul.nav.nav-pills .nav-item a.nav-link {
    font-size: 14px;
  }
}
ul.nav.nav-pills .nav-item a.nav-link.active {
  color: var(--laranja);
  border: 1px solid var(--laranja);
  border-radius: 12px;
  background-color: transparent;
}

.filter {
  color: var(--cinza-claro);
  background: var(--bg-color);
  font-size: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  letter-spacing: normal;
}
.filter:hover {
  text-decoration: none;
  color: var(--laranja);
}

span.card-link {
  color: var(--cinza) !important;
}

.card-footer {
  background: transparent;
  align-items: center;
  border: none;
}
@media screen and (min-width: 768px) {
  .card-footer {
    display: flex;
  }
}
.card-footer nav {
  margin-bottom: auto;
  margin-left: auto;
}
.card-footer .page-item a {
  background-color: var(--bg-color);
  color: var(--cinza-medio);
  border: none;
  border-radius: 4px;
  margin-left: 0.3rem;
}
.card-footer .page-item a.active {
  color: var(--laranja);
}

.input-icon {
  position: relative;
  display: inline-block;
}

.input-icon input {
  padding-left: 30px;
  /* Espaço para o ícone */
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

.navbar {
  padding: 10px 20px;
}
@media screen and (max-width: 1366px) {
  .navbar {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    margin: 0;
    left: 0;
    background-color: var(--preto-medio);
    padding: 1rem 0;
  }
  .navbar .container-fluid {
    justify-content: flex-start;
  }
  .navbar button.togle {
    border: none;
    background-color: transparent;
  }
  .navbar .adjust_navbar {
    width: 100%;
  }
  .navbar ul {
    display: -webkit-inline-box;
    float: right;
  }
  .navbar .nav-link {
    background-color: var(--bg-color);
  }
}
@media screen and (min-width: 1367px) {
  .navbar {
    background-color: transparent;
  }
}
.navbar .navbar-header .navbar-brand {
  color: var(--cinza-claro);
  font-weight: 400;
  font-size: 26px;
}
.navbar .navbar-header .navbar-subtitle {
  color: var(--cinza-medio);
  font-size: 18px;
  font-weight: 300;
  display: block;
}
@media screen and (min-width: 1366px) {
  .navbar .navbar-header {
    line-height: 18px;
  }
}
.navbar .search-box {
  background-color: var(--preto-medio);
  border: none;
  border-radius: 12px;
  height: 40px;
  width: 38rem;
  color: var(--cinza-claro);
}
.navbar .navbar-nav .nav-item {
  margin-left: 15px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #F4F4F4;
  font-size: 1.2rem;
}
.navbar .navbar-nav .nav-item .nav-link:not(.profile-link) {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  align-content: center;
  text-align: center;
}
@media screen and (min-width: 1366px) {
  .navbar .navbar-nav .nav-item .nav-link:not(.profile-link) {
    background-color: var(--preto-medio);
  }
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #f0ad4e;
}
.navbar .navbar-nav .nav-item .nav-link i {
  font-size: 1.5rem;
}
.navbar .navbar-nav .nav-item .profile-link {
  display: flex;
  align-items: center;
  color: #fff;
}
.navbar .navbar-nav .nav-item .profile-link img {
  margin-right: 10px;
}
.navbar .navbar-nav .nav-item .profile-link span {
  color: #fff;
  font-size: 0.9rem;
}
.navbar .navbar-nav .nav-item .profile-link i {
  font-size: 0.9rem;
  margin-left: 5px;
}

.chart-container {
  margin: auto;
}

@media screen and (min-width: 425px) {
  .chart-legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.chart-legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.legend-label {
  color: var(--cinza-claro);
  font-size: 14px;
}

.apexcharts-tooltip-title {
  border-bottom: none !important;
  color: var(--preto-medio) !important;
  text-align: center;
  background: var(--cinza-claro) !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: 300;
  font-family: "SpaceGrotesk-Regular" !important;
}

.apexcharts-tooltip-series-group.apexcharts-tooltip-series-group-0.apexcharts-active,
.apexcharts-tooltip-series-group.apexcharts-tooltip-series-group-1.apexcharts-active {
  background: var(--cinza-claro) !important;
  color: var(--preto-medio) !important;
  font-weight: 300;
  font-family: "SpaceGrotesk-Regular" !important;
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.filter-container .input-icon input {
  background: var(--bg-color);
  color: var(--cinza);
  border-radius: 6px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: SpaceGrotesk-Regular;
}
.filter-container .btn-filter {
  background-color: var(--bg-color);
  color: var(--cinza-medio);
  border: 1px solid var(--bg-color);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "SpaceGrotesk-Regular";
  text-transform: uppercase;
}
.filter-container .btn-filter.active {
  color: var(--laranja);
  border-color: var(--laranja);
}
.filter-container .btn-filter:hover {
  color: var(--laranja);
  border-color: var(--laranja);
}
.filter-container:hover .btn-filter.active:not(:hover) {
  color: var(--cinza-claro);
  border-color: var(--bg-color);
}
@media screen and (max-width: 767px) {
  .filter-container.listadepositantes {
    display: block;
  }
  .filter-container.listadepositantes .input-icon {
    width: 100%;
  }
  .filter-container.listadepositantes .input-icon input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .filter-container.listadepositantes {
    display: flex;
  }
}

.legend-label {
  font-family: "SpaceGrotesk-Regular";
}

g text {
  color: var(--cinza-claro) !important;
  fill: var(--cinza-claro) !important;
}

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
